/* Styles appear on displays over 750 pixels wide */

@import 'variables.less';

#expand-collapse {
	display: none;
}

/* Desktop: header nav dropdowns visible, sidebar minimized */
#header-nav-tools {
	display: flex;
}

#mw-navigation.nav-minimized {
	min-width: @icon-width;
	max-width: @icon-width;
}