/* Styles appear on displays over 750 pixels wide */

@import 'variables.less';

#expand-collapse {
	display: none;
}

/* Desktop: header nav dropdowns visible, sidebar minimized */
#header-nav-tools {
	display: flex;
}

#mw-navigation.nav-minimized {
	min-width: @icon-width;
	max-width: @icon-width;
}

@media (min-width: 1201px) {
	body:not(.action-edit):not(.action-submit) #content.mw-body > #page-tools,
	body:not(.action-edit):not(.action-submit) #content.mw-body > #mw-main-content > .mw-main-content-inner,
	body.action-edit #content.mw-body > #page-tools,
	body.action-edit #content.mw-body > #mw-main-content > .mw-main-content-inner,
	body.action-submit #content.mw-body > #page-tools,
	body.action-submit #content.mw-body > #mw-main-content > .mw-main-content-inner {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
}
